<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="findologic" translate="label" sortOrder="100">
            <label>Findologic</label>
        </tab>
        <section id="configuration" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>findologic</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Findologic_Search::config_findologic</resource>
            <group id="shopkeygroup" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shop key options</label>
                <field id="shopkey" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shop key</label>
                    <config_path>findologic/findologic_group/shopkey</config_path>
                    <attribute type="shared">1</attribute>
                    <validate>shop-key-format</validate>
                    <backend_model>Findologic\Search\Model\ShopkeyValidation</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>